<h1>Albums</h1>

<% @albums.each do |album| %>
<h2><%= album.title %></h2>
<h6>Artist: <%= album.artist %></h6>
<h6>Release Year: <%= album.release_year %></h6>


<div>
<%= link_to edit_album_path(album) do %>
    <%= image_tag album.image_path, style: "border: 1px solid black" %>
    <% end %>
</div>
<% end %>