<h1><%= @album.title %> </h1>
<% if @album.user %>
<div>
<%= link_to "Added by: #{@album.user.username}", @album.user%>
</div>
<% end %>

<p><%= @album.artist %> </p>
<p><%= @album.release_year %> </p>
<div>
    <%= image_tag @album.image_path, style: "border: 1px solid black" %>
    </div>

<div>
<% @album.categories.each do |category| %>
<b style="margin-right: 6px"><%= category.name %></b>
<% end %>

<%= link_to "Edit", edit_album_path(@album)%>

<% if current_user == @album.user %>    
    <%= button_to "Destroy", @album, method: :delete%>
<% end %>
